/* Remove "Send Image" right-click contextual menu option */
#context-sendimage { 
    display: none !important 
}

/* Connected Tabs */
.tab-background {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    margin-top: 10px !important;
    margin-bottom: 0 !important;
  }
  .tab-content {
    margin-top: 10px !important;
    margin-bottom: 0 !important;
    padding: 0 10px !important;
  }
  .tab-stack {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* Reduce left spacer on tab bar */
.titlebar-spacer[type="pre-tabs"] {
    /* display: none !important; */
    width: 10px !important;
}

/* Fix white line around entire tab */
#tabbrowser-tabs .tab-background[selected="true"] {
    outline: none !important;
}

/* New Tab Button */
#tabs-newtab-button {
    margin-top: 10px !important;
}

/* List All Tabs Button */
#alltabs-button {
    margin-top: 10px !important;
    display: none !important;
}

/* Bookmark Toolbar and Bookmark Items*/
#PlacesToolbarItems {
    padding-top: 0px !important;
    padding-bottom: 3px !important;
}

.bookmark-item {
    /* margin-left: 4px !important;
    margin-right: 4px !important; */
    padding-left: 6px !important;
    padding-right: 6px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

/* Bookmark Folder Icon */
.bookmark-item[container]{
    /* list-style-image: url("image-folder_yellow.png") !important; */
    list-style-image: url("image-folder_black-70-opacity.svg") !important;
}

/* New Tab Background - NOT WORKING */ 
@-moz-document url("about:newtab"), url("about:home"){
    body{
      background-image: url("image.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position-x: center;
      background-position-y: bottom;
    }
}