/* Remove "Send Image" right-click contextual menu option */
#context-sendimage { 
    display: none !important 
}

/* Connected Tabs */
.tab-background {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    margin-top: 10px !important;
    margin-bottom: 0 !important;
  }
  .tab-content {
    margin-top: 10px !important;
    margin-bottom: 0 !important;
    padding: 0 10px !important;
  }
  .tab-stack {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* Reduce left spacer on tab bar */
.titlebar-spacer[type="pre-tabs"] {
    /* display: none !important; */
    width: 8px !important;
}

/* Fix white line around entire tab */
#tabbrowser-tabs .tab-background[selected="true"] {
    outline: none !important;
}

/* Fix #nav-bar box shadow from appearing on tabs */
/* .tabbrowser-tab[visuallyselected="true"] { 
    z-index: 2 !important;
} */

.tabbrowser-tab[selected] { 
    position: relative; z-index: 1 
}


/* New Tab Button */
#tabs-newtab-button {
    margin-top: 10px !important;
}

/* List All Tabs Button */
#alltabs-button {
    margin-top: 10px !important;
    display: none !important;
}

/* Bookmark Toolbar and Bookmark Items*/
#PlacesToolbarItems {
    padding-top: 0px !important;
    padding-bottom: 3px !important;
}

.bookmark-item {
    padding-left: 6px !important;
    padding-right: 6px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

/* Bookmark Folder Icon */
.bookmark-item[container]{
    list-style-image: url("image-folder_dark.svg") !important;
}

/* Move Find Bar to top of window */
.browserContainer > findbar {
    order: -1;
    border-top: none !important;
    border-bottom: 1px solid !important;    
}

/* Fix tabs dimming while Firefox is inactive */
:root[tabsintitlebar] #titlebar:-moz-window-inactive { 
    opacity: 1 !important; 
}

/* Find Bar: Background and text color - color works but not background :(
findbar {
    color: red !important;
    -moz-appearance: none !important;
    background-color: blueviolet !important;
    border-bottom: 1px solid yellow !important;
} */